<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://kit.fontawesome.com/a076d05399.js"
    Header set Access-Control-Allow-Methods "GET, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
    Deny from all
</IfModule>
